<h1>Display Person</h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">My People</div>
    <div class="panel-body">

    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><h2>First Name</h2></th>


          <th><h2>Last Name</h2></th>


          <th><h2>Notes</h2></th>
          </tr>

      </thead>
      <tbody>
        <tr>
          <td><h2>{{person.firstName}}</h2></td>


          <td><h2>{{person.lastName}}</h2></td>


          <td><h2>{{person.notes}}</h2></td>
        </tr>
      </tbody>
    </table>


    <h2>Contacts </h2>
      <ul><h3>
        <li ng-repeat="contact in person.contacts"><a href="contact/{{contact.id}}">{{contact.name}}</a></li></h3>
      </ul>
      <h2>Categories</h2>
      <ul><h3>
        <li ng-repeat="category in person.categories"><a href="category/{{pcategory.id}}">{{category.name}}</a></li></h3>
      </ul>

