<h1>My Home page

<a href="/person/new" class="pull-right btn btn-success glyphicon glyphicon-plus"></a>

</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="person in people">
      <td><a href="/person/{{person.id}}">{{person.firstName}}</td>
      <td>{{person.lastName}}</a></td>
      <td>{{person.notes }}</td>
      <td>
        <a ng-click="deletePerson(person)" class="glyphicon glyphicon-trash"></a>
        <a ng-click="editPerson(person)" class="glyphicon glyphicon-edit"></a>
      </td>
    </tr>
  </tbody>
</table>