<h1>New Zombie to be created</h1>

<form method="post" action="/zombie">
    gender: <input type="text" name="gender"><br>
    speed: <input type="text" name="speed">
    <input type="submit" value="Zombie Creation">
    </form>